*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 80px;
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 80px;
}

.news {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 80px;
    overflow: hidden;
}

.news__heading-title {
    font-size: 32px;
    font-weight: 400;
    font-family: "Playfair Display";
    color: #292929;
    margin-bottom: 16px;
}

.news__heading-time {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans";
    color: #292929;
    margin-bottom: 24px;
}

.news__heading-poster {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__heading-poster-img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.news__heading-description {
    margin-bottom: 24px;
}

/* GRID */
.news__poster-list {
    width: 100%;
    height: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.news__poster-item {
    width: 100%;
    height: auto;
}

.news__poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* COLUMN_RIGHT */
.news__heading-column {
    width: 100%;
    height: auto;
}

.news__heading-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__heading-item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding:24px 0px;
    gap: 10px;
    border-bottom: 2px  solid #344054;
}

.news__heading-item-poster {
    width: 100%;
    height: 100%;
}

.news__heading-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.news__heading-item-link {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__heading-link-text {
    font-size: 18px;
    font-family: "DM Sans";
    font-weight: 500;
    text-decoration: none;
    color: #292929;
    transition: color 0.3s ease;
}

.news__heading-link-text:hover {
    font-size: 18px;
    font-family: "DM Sans";
    font-weight: 500;
    color: #1570EF;
}



.news__heading-link-title {
    font-size: 18px;
    font-family: "DM Sans";
    font-weight: 500;
    text-decoration: none;
    color: #292929;
    transition: color 0.3s ease;
}

.news__heading-link-description {
    font-size: 12px;
    font-family: "DM Sans";
    font-weight: 400;
    color: #292929;
    margin-top: 16px;
    margin-bottom: 16px;

}

.news__heading-link-time {
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    color: #344054;
}